body {
    background-color: black;
    color: rgb(165, 32, 165);
    font-family: monospace;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;   
    overflow-x: hidden;
}

.title {
    width: 420px;
    overflow-x: hidden;
    line-height: 0px;
}

@media screen and (max-width: 437px) {

    .title {
        width: 100%;
    }
  }